#hero {
    background-image: url(../img/baner.jpg);
    background-repeat: no-repeat;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 20rem;
    padding-right: 19rem;
}

#hero2 {
    background-image: url(../img/deco3.png);
    background-repeat: no-repeat; 
    padding-top: 5rem;
    padding-bottom: 20rem;
    padding-left: 20rem;
    padding-right: 5rem;
}

#hero3 {
    background-color: #4aff90;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 20rem;
    padding-right: 5rem;
}

.SectionGalerie{
    padding-left: 150px;

}

.container{
    padding-right : 50px;
    margin-left: 155px;
}