:root {
  --navbar-background-color: #f2f2f2;
  --navbar-item-hovered-color:white;
  --navbar-separator-color:#ececec;
  --navbar-icon-color:#646c79;
  --navbar-text-color:black;
  --navbar-transition-speed: .2s;
  --primary-color:#7C4DFF;
  --navbar-logo-background-color:#e2dfe4;
}


html, body {
  margin:0;
  font-family: 'Source Sans Pro';
  font-size:16px;
}

main {
  padding: 1rem 4rem;
  margin-left: 5rem;
  text-align: justify;
}

.navbar {
  width:5rem;
  position:fixed;
  top:0px;
  left:0px;
  bottom:0px;
  background:var(--navbar-background-color);
  box-shadow: rgba(0,0, 0, 0.65) 0 4px 14px;
  transition: width var(--navbar-transition-speed) ease;
  z-index: 1;
}

.navbar:hover {
  width:15rem;
}

.navbar-menu {
  list-style: none;
  padding:0;
  margin:0;
  display:flex;
  flex-direction: column;
  align-items: center;
  height:100%;
}

.navbar-item {
  width: 100%;
  border-bottom:solid 1px var(--navbar-separator-color);
  transition: background-color var(--navbar-transition-speed);
}

.navbar-item:hover {
  background-color:var(--navbar-item-hovered-color);
}

.navbar-item:last-child {
  margin-top:auto;
}

.navbar-link {
  display:flex;
  align-items: center;
  justify-content: flex-start;
  height:5rem;
  width:100%;
  text-decoration: none;
}

.navbar-icon {
  text-align: center;
  font-size: 1.5rem;
  min-width: 2rem;
  margin: 0 1.5rem;
  color:var(--navbar-icon-color);
  transition:var(--navbar-transition-speed);
}

.navbar-item:hover .navbar-icon {
  color:var(--primary-color);
}

.navbar-title {
  color:var(--navbar-text-color);
}

.navbar:not(:hover) .navbar-title {
  display:none;
}

.logo {
  background:var(--navbar-logo-background-color);
}

.logo .navbar-title {
  font-size:1.5rem;
  font-weight:bold;
  margin-left:1.5rem;
}

.navbar:hover .logo .navbar-icon {
  transform:rotate(180deg);
}

/*
** RESPONSIVE
*/

@media only screen and (max-width:1024px) {
  .navbar {
    top:auto;
    width:100%;
    bottom:0px;
    z-index: 1;
    padding-bottom: 50px;
  }

  .navbar:hover {
    width:100%;
  }

  .navbar-menu {
    flex-direction: row;
  }

  .logo {
    display:none;
  }

  main {
    margin-left:0;
    margin-bottom:5rem;
  }

  .navbar:hover .navbar-title {
    display:none;
  }

  .navbar-icon {
    min-width:auto;
    margin:0;
  }

  .navbar-link {
    justify-content: center;
  }
}

.Logo50 {
  width: 70%;
  margin-left: 28px;
  -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
  from {
      -webkit-transform: rotateY(0deg);
  }
  to {
      -webkit-transform: rotateY(359deg);
  }
}

.Logo50 {
		-webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotateY(0deg);
		}
		to {
				-webkit-transform: rotateY(359deg);
		}
}

.navbar-title {
background-image: url(../img/Logonavbar);
}